@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;700&display=swap');

*{
  margin:0%;
  padding:0px;
  box-sizing: border-box;
}
p{
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color: #000 !important;
}
h2{
  padding: 20px;
}
html{
  scroll-behavior: smooth;
}

.container{
  padding: 20px;
}
/* digitaçao*/
.saida {
  background: #7E0924;
  padding: 15px;
  border-radius: 20px;
  color: white;
  font-size: 25px;
}
.foto-perfil{
  width: 10rem;
  max-width: 50%;
  border-radius: 50%;
  object-fit: cover;
  
}
.corPrimaria{
  background-color: #000;
}

.corSecundaria{
  background-color: #7E0924;
}

.icones{
  padding: 10px;
}

.titulosBrancos{
  text-underline-position: below;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
}

.titulosVerdes{
  text-underline-position: below;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: #1e2221;
}
.textoBrancos{
  color: white !important;
}
.jumbotron{
  padding: 0rem;
}

/* botoes do menu*/

.menu-content{
  text-transform: uppercase;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 15px;
  
}

.menu-content{
  display: flex;
  list-style: none;
  gap: 10px;
  padding: inherit;
  
}

.menu-content .list-itens{
  display: flex;
  list-style: none;
  gap: 20px;
  color: white;
  padding-left: 10px;
  
}

.menu-content .list-itens a {
  background: #000;
  color: #fff;
  border-radius:20px;
  transition: transform 0.3s ease;
}
.menu-content .list-itens a::after, .menu-content .list-itens a::before {
  content:' ';
  position: absolute;
  opacity: 0.3;
  background: #000;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: transform 0.3s ease;
  
}
.menu-content .list-itens a:hover{
  transform: translate(-12px, -12px);
}
.menu-content .list-itens a:hover::after{
  transform: translate(6px, 6px);
}
.menu-content .list-itens a:hover::before{
  transform: translate(12px, 12px);
}


/* botoes dos projetos*/

.btn-group{
  gap: 20px;
 }

 .btn-group a {
  background: none;
  color: #fff;
  border-radius:20px;
  transition: transform 0.3s ease;
}
.btn-group a::after, .btn-group a::before {
  content:' ';
  position: absolute;
  opacity: 0.3;
  background: #000;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: transform 0.3s ease;
  
}
.btn-group a:hover{
  transform: translate(-12px, -12px);
}
.btn-group a:hover::after{
  transform: translate(6px, 6px);
}
.btn-group a:hover::before{
  transform: translate(12px, 12px);
}

/* Contatos*/

.contatos {
  background: #7E0924;
  padding: 10px;
  padding-top: 5px;
  border-radius: 20px;
  color: white;
  font-size: 15px;
}
